{% extends 'base.html' %}

{% block meta %}
<title>Diskusi</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

{% endblock meta %}

{% block content %}
{% include 'navbar.html'%}
<div>
    <div class="bg-gradient-to-b from-[#DCF2F1] to-white w-full h-[390px] p-8">
        <h1 class="text-5xl font-bold text-[#365486]">{{seller.company_name}}</h1>
        <div class="mt-4">
            <div class="text-lg font-small">Rating</div>
            <div id="title-rate" class="text-3xl font-bold text-[#365486]"></div>
            <div id="{{seller.pk}}" class="flex space-x-2 mb-4">
            {% include "show_star.html" %}
            <div class="mt-4">
                <div class="text-lg font-small">Contact</div>
                <div class="text-lg text-[#365486]">{{seller.user.phone_number}}</div>
            </div>
        </div>
        <div class="flex justify-center">
            <form id="review-form" method="POST" action="{% url 'diskusi:review_section' seller.pk %}">
                {% csrf_token %}
                {% include "star.html" %}
                <div class="flex items-center space-x-2">
                    {{ form }}
                    <button type="submit" id="send-button" class="bg-blue-800 text-white py-2 px-4 rounded-lg">Send</button>
                </div>
            </form>
        </div>
    </div>
</div>


    <div id="comment-section" class="mt-8">
    </div>
<script>
    const select_star = document.querySelectorAll('#rating svg');
    let selectedRating = 0;

    select_star.forEach((star, index) => {
        star.addEventListener('click', () => {
            selectedRating = index + 1; 
            updateStars(selectedRating);
        });
    });

    function updateStars(rating) {
        select_star.forEach((star, i) => {
            if (i < rating) {
                star.classList.add('text-yellow-400');
            } else {
                star.classList.remove('text-yellow-400');
            }
        });
    }


    document.querySelector('#review-form').addEventListener('submit', function(event) {
        event.preventDefault(); // Prevent the default form submission
        
        const form = document.getElementById('review-form');
        const body = document.getElementById('id_body').value;
        const formData = new FormData();
        formData.append('body', body);
        formData.append('star', selectedRating);
        const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;

        $.ajax({
            url: form.action,
            type: 'POST',
            headers: {
                'X-CSRFToken': csrfToken
            },
            data: formData,
            processData: false,
            contentType: false,
            success: function(data) {
                refreshComments();
                refreshRating();
                console.log(selectedRating);
                select_star.forEach((star) => {
                    star.classList.remove('text-yellow-400');
                    star.classList.add('text-gray-300');
                    document.getElementById('id_body').value = '';
                });
                selectedRating = 0;
            },
            error: function(error) {
                console.error('Error:', error);
            }
        });
    });

    async function getComments() {
        return fetch('{% url "diskusi:show_comments" seller.pk %}').then(response => response.json());
    }
    async function getSeller(){
        return fetch('{% url "diskusi:show_seller" seller.pk %}').then(response => response.json());
    }
    async function refreshRating(){
        const data_seller = await getSeller();
        let id = data_seller.id;
        const stars = document.getElementById(id).querySelectorAll('svg');
        const title_rate = document.getElementById('title-rate');
        let title_rate_value = `${data_seller.stars}/5`;
        title_rate.innerHTML = data_seller.stars;
        let star_seller = Math.floor(data_seller.stars);
        stars.forEach((star, i) => {
            if (i < star_seller) {
                star.classList.add('text-yellow-400');
            } else {
                star.classList.remove('text-yellow-400');
            }
        });
        
    }
    async function refreshComments() {
        const comments = await getComments();
        let htmlString = '';
        if(comments.length === 0){
            htmlString += `
            <div class="flex flex-col items-center justify-center min-h-[24rem] p-6">
                <p class="text-center text-gray-600 mt-4">Belum ada data review.</p>
            </div>
        `;
        }
        else{
        comments.forEach((item) =>{
            htmlString += `
            <div class="m-10 bg-[#DCF2F1] p-4 rounded-[20px] shadow-md">
                
                <!-- Comment Body -->
                <p class="text-xl px-10">
                    <span class="font-bold text-base text-blue-800">${item.fields.name}</span>
                    <br>
                    <span class='font-bold text-base text-blue-800'>${item.fields.body}</span>
                </p>
                <div id="edit-delete-${item.pk}" class="flex items-center gap-4 [&>a:hover]:underline">
                    <button href="#">Edit</button>
                    <button href="#">Delete</button>
                    <button onclick="window.location.href='{% url 'diskusi:reply' ${item.pk} %}'">Reply</button>
                </div>
            </div>
            `;
        });

        }
    document.getElementById("comment-section").innerHTML = htmlString;
    comments.forEach((item) => {
        let name = item.fields.name;
        let nameUser = '';
        if ("{{user.is_seller}}" === "True") {
            nameUser = "{{ user.seller.company_name }}";
        } else {
            nameUser = "{{user.username}}";
        }
        let auth_user = name === nameUser;
        let editDeleteDiv = document.getElementById(`edit-delete-${item.pk}`);
        if (auth_user) {
            editDeleteDiv.style.display = 'flex';
        } else {
            editDeleteDiv.style.display = 'none';
        }
    });

    }
    refreshComments();
    refreshRating();
</script>
{% endblock content %}

