{% extends 'base.html' %}

{% block meta %}
<title>Diskusi</title>
{% endblock meta %}

{% block content %}
<header class="flex items-center justify-between p-4 bg-white shadow-md">
    <div class="flex items-center space-x-2">
        <i class="fas fa-home text-3xl text-blue-600"></i>
        <span class="text-3xl font-bold text-blue-600">HouseHunt</span>
    </div>
    <nav class="flex items-center space-x-4">
        <a href="#" class="text-blue-600 font-bold">Home</a>
        <a href="#" class="text-gray-600">Wishlist</a>
        <a href="#" class="text-gray-600">Diskusi</a>
        <a href="#" class="text-gray-600">Cek Rumah</a>
        <a href="#" class="text-gray-600">Lelang</a>
        <button class="px-4 py-2 bg-blue-600 text-white rounded-full">Helo, username</button>
    </nav>
</header>
<main class="flex justify-center my-10">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-10">
        
        <div class="group">
            <div class="w-[396px] h-[219px] bg-[#DCF2F1]  rounded-[20px] p-8 relative transform transition duration-100 group-hover:scale-95">
                <h2 class="font-bold text-[24px] text-[#365486]">LAPAK PAK UCUP</h2>
                <p class="text-lg text-[#365486]">rating <br><span class="text-yellow-500">★★★★★</span></p>
                <a href="#" class="text-blue-600 absolute bottom-6 right-6 text-[14px]">review</a>
            </div>
        </div>
        <div class="w-[396px] h-[219px] bg-[#DCF2F1] rounded-[20px] p-8 relative">
            <h2 class="font-bold text-[24px]">PAK BUDI</h2>
            <p class="text-lg">rating <span class="text-yellow-500">★★★★★</span></p>
            <a href="#" class="text-blue-600 absolute bottom-6 right-6 text-[14px]">review</a>
        </div>
        <div class="w-[396px] h-[219px] bg-[#DCF2F1] rounded-[20px] p-8 relative">
            <h2 class="font-bold text-[24px]">PAK SOLEH</h2>
            <p class="text-lg">rating <span class="text-yellow-500">★★★★★</span></p>
            <a href="#" class="text-blue-600 absolute bottom-6 right-6 text-[14px]">review</a>
        </div>
        <div class="w-[396px] h-[219px] bg-[#DCF2F1] rounded-[20px] p-8 relative">
            <h2 class="font-bold text-[24px]">LAPAK PAK UCUP</h2>
            <p class="text-lg">rating <span class="text-yellow-500">★★★★★</span></p>
            <a href="#" class="text-blue-600 absolute bottom-6 right-6 text-[14px]">review</a>
        </div>
        <div class="w-[396px] h-[219px] bg-[#DCF2F1] rounded-[20px] p-8 relative">
            <h2 class="font-bold text-[24px]">PAK BUDI</h2>
            <p class="text-lg">rating <span class="text-yellow-500">★★★★★</span></p>
            <a href="#" class="text-blue-600 absolute bottom-6 right-6 text-[14px]">review</a>
        </div>
        <div class="w-[396px] h-[219px] bg-[#DCF2F1] rounded-[20px] p-8 relative">
            <h2 class="font-bold text-[24px]">PAK SOLEH</h2>
            <p class="text-lg">rating <span class="text-yellow-500">★★★★★</span></p>
            <a href="#" class="text-blue-600 absolute bottom-6 right-6 text-[14px]">review</a>
        </div>
        <div class="w-[396px] h-[219px] bg-[#DCF2F1] rounded-[20px] p-8 relative">
            <h2 class="font-bold text-[24px]">LAPAK PAK UCUP</h2>
            <p class="text-lg">rating <span class="text-yellow-500">★★★★★</span></p>
            <a href="#" class="text-blue-600 absolute bottom-6 right-6 text-[14px]">review</a>
        </div>
        <div class="w-[396px] h-[219px] bg-[#DCF2F1] rounded-[20px] p-8 relative">
            <h2 class="font-bold text-[24px]">PAK BUDI</h2>
            <p class="text-lg">rating <span class="text-yellow-500">★★★★★</span></p>
            <a href="#" class="text-blue-600 absolute bottom-6 right-6 text-[14px]">review</a>
        </div>
        <div class="w-[396px] h-[219px] bg-[#DCF2F1] rounded-[20px] p-8 relative">
            <h2 class="font-bold text-[24px]">PAK SOLEH</h2>
            <p class="text-lg">rating <span class="text-yellow-500">★★★★★</span></p>
            <a href="#" class="text-blue-600 absolute bottom-6 right-6 text-[14px]">review</a>
        </div>
    </div>
</main>
{% endblock content %}