{% extends 'base.html' %} {% load static %} {% block meta %}<title>
  Register as {{ user_type|title }}</title
>{% endblock meta %} {% block content %}

<div
  class="bg-white rounded-lg shadow-md overflow-hidden mx-[8px] sm:mx-[10vw]"
>
  <div class="sm:p-6 max-sm:px-2 max-sm:py-4">
    <h2 class="text-2xl font-bold text-gray-900 mb-6 text-center">
      Sign Up as {{ user_type|title }}
    </h2>
    <form method="post" class="space-y-4">
      {% csrf_token %}
      <div class="grid gap-4 lg:grid-cols-2">
        <div class="flex flex-col gap-2">
          <label for="{{ form.username.id_for_label }}" class="text-gray-900"
            >{{ form.username.label }}</label
          >
          <input
            class="p-2 text-gray-900 bg-[#4625581a] hover:bg-[#3602010a] transition-all rounded-lg"
            type="text"
            name="username"
            id="username"
            placeholder="Username anda"
            value="{{ form.username.value|default_if_none:'' }}"
            required
          />
          {{ form.username.errors }}
        </div>
        <div class="flex flex-col gap-2">
          <label for="{{ form.email.id_for_label }}" class="text-gray-900"
            >{{ form.email.label }}</label
          >
          <input
            class="p-2 text-gray-900 bg-[#4625581a] hover:bg-[#3602010a] transition-all rounded-lg"
            type="email"
            name="email"
            id="email"
            placeholder="Email anda"
            value="{{ form.email.value|default_if_none:'' }}"
            required
          />
          {{ form.email.errors }}
        </div>
        <div class="flex flex-col gap-2">
          <label
            for="{{ form.phone_number.id_for_label }}"
            class="text-gray-900"
            >{{ form.phone_number.label }}</label
          >
          <input
            class="p-2 text-gray-900 bg-[#4625581a] hover:bg-[#3602010a] transition-all rounded-lg"
            type="text"
            name="phone_number"
            id="phone_number"
            placeholder="Nomor HP anda"
            value="{{ form.phone_number.value|default_if_none:'' }}"
            required
          />
          {{ form.phone_number.errors }}
        </div>
        <div class="flex flex-col gap-2">
          <label for="password1" class="text-gray-900">Password</label>
          <input
            class="p-2 text-gray-900 bg-[#4625581a] hover:bg-[#3602010a] transition-all rounded-lg"
            type="password"
            name="password1"
            id="password1"
            placeholder="Password anda"
            value="{{ form.password1.value|default_if_none:'' }}"
            required
          />
          {{ form.password1.errors }}
        </div>
        <div class="flex flex-col gap-2">
          <label for="{{ form.password2.id_for_label }}" class="text-gray-900"
            >{{ form.password2.label }}</label
          >
          <input
            class="p-2 text-gray-900 bg-[#4625581a] hover:bg-[#3602010a] transition-all rounded-lg"
            type="password"
            name="password2"
            id="password2"
            placeholder="Ulangi password anda"
            value="{{ form.password2.value|default_if_none:'' }}"
            required
          />
          {{ form.password2.errors }}
        </div>
        {% if user_type == 'seller' %}
        <div class="flex flex-col gap-2">
          <label
            for="{{ form.company_name.id_for_label }}"
            class="text-gray-900"
            >{{ form.company_name.label }}</label
          >
          <input
            class="p-2 text-gray-900 bg-[#4625581a] hover:bg-[#3602010a] transition-all rounded-lg"
            type="text"
            name="company_name"
            id="company_name"
            placeholder="Nama Perusahaan anda"
            value="{{ form.company_name.value|default_if_none:'' }}"
            required
          />
          {{ form.company_name.errors }}
        </div>
        <div class="flex flex-col gap-2">
          <label
            for="{{ form.company_address.id_for_label }}"
            class="text-gray-900"
            >{{ form.company_address.label }}</label
          >
          <input class="p-2 text-gray-900 bg-[#4625581a] hover:bg-[#3602010a]
          transition-all rounded-lg" name="company_address" type="text"
          id="company_address" placeholder="Alamat Perusahaan anda" required {{ form.company_address.value|default_if_none:'' }}/> 
          {{ form.company_address.errors }}
        </div>
        {% else %}
        <div class="flex flex-col gap-2">
          <label
            for="{{ form.preferred_payment_method.id_for_label }}"
            class="text-gray-900"
            >{{ form.preferred_payment_method.label }}</label
          >
          <select
            class="p-2 text-gray-900 bg-[#4625581a] hover:bg-[#3602010a] transition-all rounded-lg"
            name="preferred_payment_method"
            id="preferred_payment_method"
            required
          >
            <option value="" disabled selected class="max-sm:hidden">
              Select payment method
            </option>
            <option value="credit_card">Credit Card</option>
            <option value="bank_transfer">Bank Transfer</option>
          </select>
          {{ form.preferred_payment_method.errors }}
        </div>
        {% endif %}
      </div>
      <button
        type="submit"
        class="w-full bg-[#4a628a] hover:shadow-lg text-white px-4 py-2 rounded-md hover:bg-[#33425e] transition-colors"
      >
        Sign Up
      </button>
    </form>
  </div>
</div>
<div class="absolute bottom-0">{% include 'footer.html' %}</div>

{% endblock %}
